# Ignore all .env files
*.env

# Ignore everything in the docker directory AND its subdirectories
docker/*/*


# Except for these specific files in the subdirectories
!docker/**/docker-compose.yml
!docker/**/.env.example
