services:
  tsdproxy:
    container_name: tsdproxy
    image: almeidapaulopt/tsdproxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/data
      - ./config:/config
    restart: unless-stopped
    ports:
      - "8090:8080"
